<!doctype html>
<html ng-app="miApp">
	<head>
		<meta charset="utf-8"/>
		<title>Métodos</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	</head>
	<body>
		<div ng-controller="circunferencia">
			<label>Diámetro</label>

			<input type="text" ng-model="diametro" />
			<br>

			<button ng-click="calcularCircunferencia()">
				Calcular Circunferencia
			</button>
			{{ circunferencia }}
		</div>

		<script>
			var miAplicacion = angular.module('miApp', []);

			miAplicacion.controller('circunferencia', ['$scope',
			function($scope) {
				$scope.diametro = 0;
				var pi = 3.14;

				$scope.calcularCircunferencia = function() {
					$scope.circunferencia = $scope.diametro * pi;
				};
			}]);

		</script>
	</body>
</html>